@model Booking
@{
    ViewData["Title"] = "Details";
    char[] BookedMatrix = (char[])ViewData["BookedMatrix"];
    char[] BookedMatrix_other = (char[])ViewData["BookedMatrix_other"];
}
<style>
   label.error{
       color : red;
   }
</style>
<h1>Edit</h1>
<div>
    <h4>Booking</h4>
    <div class="row">
       <div class="col-md-4">
           <form action = "/Bookings/Edit" method = "Post" id = "validate-form-edit-booking">
               <input type = "text" value = "@Model.BookingId" hidden name = "BookingId"/>
               <input type = "text" value = "@Model.ShowId" hidden name = "ShowId"/>
                @for(int row = 0; row < 10; row++){
                for(int col = 0; col < 10; col++)
                {
                    int index = row * 10 + col;
                    if (BookedMatrix[index] == '1')
                    {
                        <input type="checkbox" checked onclick = "CalAmount(this)" name = "cbBook" value = "@index" />
                    }
                    else
                    {
                        if(BookedMatrix_other[index] == '1')
                        {
                            <input type="checkbox" checked disabled name = "cbBook" value = "@index" />
                        }
                        else{
                            <input type="checkbox" name = "cbBook" onclick = "CalAmount(this)" value = "@index" />
                        }                       
                    }
                }
                <br/>
                }
                <div class="form-group">
                    <label for="Name" class="control-label" value = "@Model.Name">Name</label>
                    <input for="Name" class="form-control" name = "Name"/>
                </div>
                <div class="form-group">
                    <label for="Amount" class="control-label">Amount</label>
                    <input for="Amount" id = "amount_temp" value = "@Model.Amount" readonly="readonly" class="form-control" name = "Amount"/>
                </div>
                <div class="form-group">
                     <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
     </div>  
</div>
<div>
    <a asp-action="Index"  asp-route-id="@Model.ShowId">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
       function CalAmount(data){
           var amount_element_temp = document.getElementById("amount_temp");
           var amount_temp = amount_element_temp.value;
           if( Number(amount_temp) <= 0){
               amount_temp = 0;
           }
           if(data.checked){
              amount_temp =  Number(amount_temp) + @Model.Show.Price
           }else{
              amount_temp =  Number(amount_temp) - @Model.Show.Price
           }
           if(Number(amount_temp) <= 0)
               amount_temp = 0;
           amount_element_temp.value = amount_temp;
       }
       $('#validate-form-edit-booking').validate({
            rules: {
                Amount: {
                    required: true,
                    min : 1
                }
            },
            messages: {
                Amount: {
                    required: "Amount must be > 0",
                    min: "Amount must be > 0"
                },
            }
        });
    </script>
}